@import "material-icons/iconfont/material-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: box-shadow 0.25s;
}

input {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}
button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
button:active {
  box-shadow: 0 2px 2px rgba(200, 200, 200, 0.2);
}

.main-grid {
  display: grid;
  grid-template-columns: minmax(4rem, 5rem) auto;
}

.text-autowrap {
  overflow-wrap: break-word;
}

.tab-container {
  display: flex;
  height: 2.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  user-select: none;
}
.tab-container > * {
  flex: 1;
  margin: auto;
  text-align: center;
  height: 100%;
  font-size: 1.25rem;
  border-left: solid #ddd 1px;
  border-right: solid #ddd 1px;
}
.tab-container > :last-child {
  border-left: none;
}
.tab-container > :first-child {
  border-right: none;
}

.single-input {
  width: 100%;
  height: 3rem;
  display: grid;
  padding: 0.5rem;
  grid-template-columns: auto 8rem;
}
.single-input > input {
  height: 3rem;
  padding: 0px 0.5rem;
}
.single-input > button {
  height: 3rem;
  margin-left: 1rem;
}

.event-list {
  overflow: auto;
}
.event-list > li {
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
}

.item-evenly-sized > * {
  flex: 1;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2% 1%;
  justify-content: space-evenly;
}
.card-wrapper > section {
  text-align: center;
  user-select: none;
  width: 10rem;
  height: 10rem;
  margin: 1%;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
}
.card-wrapper > section:hover {
  cursor: pointer;
  animation: hover-scale 0.05s ease-out forwards;
}

@keyframes hover-scale {
  from {
  }
  to {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

.gutter {
  scrollbar-gutter: stable;
}

.icon-center {
  text-align: center;
  vertical-align: middle;
}

.exclude-tab-height {
  height: calc(100vh - 3rem);
}
